<main>
  <h1>Weavers of Wonder App data protection notice</h1>
  <p>
    Deborah Sutton (Lancaster University) does not take or retain any of your personal data from
    app access. Basic network information, such as IP addresses, may be
    collected when the app communicates with our internal systems. Some
    additional data may be collected by third-party tools we use. Please see
    information below. Lancaster University are not responsible for data
    collection by third party tools we use.
  </p>
  <p>
    If you grant access, The Weavers of Wonder app will collect location data - however
    we personally do not transfer this data from your device. All processing for
    sending push notifications based on location data happens locally on your
    device.
  </p>
  <h3>Google Maps</h3>
  <p>
    We use Google Maps SDK to display the locations on our app. Google may
    collect your mobile device’s location, as well as your IP address and
    network information. See the full Google data privacy policy
    <a href="https://policies.google.com/privacy">here</a>.
  </p>
  <h3>Firebase Crashlytics</h3>
  <p>
    You can choose to opt in to ‘Crashlytics’ collection. This will allow us to
    receive information via Google’s ‘Firebase’ platform, about how well the app
    is running on your device. We will receive logs and error reports.
  </p>
  <p>
    This data is retained for 90 days. We can’t identify you from this data. See
    the full Firebase privacy policy <a href="https://firebase.google.com/support/privacy">here</a>.
  </p>
  <h3>Firebase Dynamic Links</h3>
  <p>
    ‘Dynamic Links‘ is another tool we use via Google’s ‘Firebase’ platform.
    ‘Dynamic links’ uses technical information from your device to open to a
    specific page or context. This means, for example, when scanning a QR code
    we can take you directly to specific content within our app.
  </p>
  <p>
    Dynamic Links only stores device specs and IP addresses temporarily, to
    provide the service. We can’t identify you from this data. See the full
    Firebase privacy policy <a href="https://firebase.google.com/support/privacy">here</a>.
  </p>
  <p>
    Lancaster University is the designated project data processor and
    controller. Deborah Sutton is the nominated contact; email her on
    <a href="mailto:d.sutton@lancaster.ac.uk">d.sutton@lancaster.ac.uk</a>.
  </p>
</main>
