<main>
  <h1>{{snapshot.data.name}}</h1>
  <mat-vertical-stepper linear="true">
    <mat-step label="Download app">
      <p>First, download the app on the Google Play Store or the App Store
      </p>
      <div class="logo-container">
        <a [href]="androidURL">
        <img class="play-icon" src="/assets/imgs/google-play-badge.png" />
      </a>
        <a [href]="iOSURL"
          style="display: inline-block; overflow: hidden; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 120px"><img
            src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1622592000&h=9dcab60ddd5d7b43f331e7e3b0fa65f7"
            alt="Download on the App Store"
            style="border-top-left-radius: 0px; margin-top: 4px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 120px;"></a>
      </div>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Download experience">
      <p>Now, download the experience into the app. If you're on your Android device just tap the open app button, or if
        not just open the app and manually scan the QR code below.</p>
      <a [href]="experienceURL"><button class="open-app" mat-raised-button color="primary">Open App</button></a>
      <qrcode [qrdata]="downloadUrl" [size]="256" [level]="'M'"></qrcode>
    </mat-step>

    <ng-template matStepperIcon="edit">
      <mat-icon>phone_android</mat-icon>
    </ng-template>

    <!-- <ng-template matStepperIcon="done">
    <mat-icon>done_all</mat-icon>
  </ng-template> -->
  </mat-vertical-stepper>
  <footer>
    <small>Apple® and App Store® are trademarks of Apple Inc.</small>
    <small>Google Play and the Google Play logo are trademarks of Google LLC.</small>
  </footer>
</main>