main {
  margin: 32px;
}

button {
  display: block;
  &.open-app {
    margin-bottom: 16px;
  }
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .play-icon {
    width: 150px;
  }
}
