<!-- <mat-toolbar>Authoring Tool
</mat-toolbar> -->
<mat-nav-list ngif>
  <img class="logo" src="/assets/imgs/master-logo.png" />
  <a mat-list-item href="javascript:void(0)" [matMenuTriggerFor]="experience">Experience</a>
  <mat-menu #experience="matMenu">
    <button mat-menu-item (click)="openExperience()">
      <mat-icon>folder_open</mat-icon>
      <span>Open</span>
    </button>
    <button mat-menu-item (click)="createNewExperience()">
      <mat-icon>create_new_folder</mat-icon>
      <span>Create</span>
    </button>
    <ng-container *ngIf="{ isOwner: isExperienceMine | async } as data">
      <button [disabled]="!data.isOwner" mat-menu-item (click)="openCollaborators()">
        <mat-icon>folder_shared</mat-icon>
        <span>Collaborators</span>
      </button>
      <button [disabled]="!data.isOwner" [routerLink]="['/experience/edit']" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
    </ng-container>
  </mat-menu>
  <mat-divider></mat-divider>
  <a mat-list-item href="javascript:void(0)" [matMenuTriggerFor]="poi">Places</a>
  <mat-menu #poi="matMenu">
    <button [disabled]="!isExperienceOpen" [routerLink]="['/poi/create']" mat-menu-item>
      <mat-icon>add_location</mat-icon>
      <span>Create</span>
    </button>
    <button [disabled]="!isExperienceOpen" (click)="viewAllPointsOfInterest()" mat-menu-item>
      <mat-icon>view_list</mat-icon>
      <span>View all</span>
    </button>
  </mat-menu>
  <mat-menu #route="matMenu">
    <button [disabled]="!isExperienceOpen" [routerLink]="['/route/create']" mat-menu-item>
      <mat-icon>navigation</mat-icon>
      <span>Create</span>
    </button>
    <button [disabled]="!isExperienceOpen" (click)="viewAllRoutes()" mat-menu-item>
      <mat-icon>view_list</mat-icon>
      <span>View all</span>
    </button>
  </mat-menu>
  <mat-divider></mat-divider>
  <a mat-list-item href="javascript:void(0)" [matMenuTriggerFor]="route">Routes</a>
  <ng-container *ngIf="isExperienceMine | async">
    <mat-divider></mat-divider>
    <a mat-list-item href="javascript:void(0)" (click)="publish()">Publish</a>
  </ng-container>
  <mat-divider></mat-divider>
  <a mat-list-item href="javascript:void(0)" (click)="viewMediaLibrary()">Media Library</a>
  <mat-divider></mat-divider>
  <a mat-list-item href="javascript:void(0)" [matMenuTriggerFor]="user">User</a>
  <mat-menu #user="matMenu">
    <a mat-list-item href="/api/auth/logout">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </a>
    <button [routerLink]="['/user/edit']" mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Edit profile</span>
    </button>
  </mat-menu>
  <mat-divider></mat-divider>

  <a mat-list-item href="javascript:void(0)" *ngIf="isUserAdmin | async" [matMenuTriggerFor]="admin">Admin</a>
  <mat-menu #admin="matMenu">
    <button mat-menu-item (click)="openAdminUserDialog()">
      <mat-icon>person</mat-icon>
      <span>View users</span>
    </button>
    <button mat-menu-item (click)="openAdminExperiencesDialog()">
      <mat-icon>view_list</mat-icon>
      <span>View published experiences</span>
    </button>
  </mat-menu>
</mat-nav-list>