<h1 mat-dialog-title>Edit Media</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="content" mat-dialog-content *ngIf="mediaItem">
    <app-media-item [mediaItem]="mediaItem"></app-media-item>
    <div class="fields">
      <p>This information will be publicly visible if this experience is published.</p>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput cdkTextareaAutosize placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput cdkTextareaAutosize placeholder="Acknowledgements"
          formControlName="acknowledgements"></textarea>
      </mat-form-field>
      <div
        formArrayName="externalLinks"
        *ngFor="let item of form.get('externalLinks')['controls']; let i = index;"
      >
        <mat-card [formGroupName]="i" class="external-link">
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Url</mat-label>
            <input matInput formControlName="url" placeholder="https://...">
          </mat-form-field>
          <button mat-icon-button color="warn" aria-label="Remove external link" type="button" (click)="removeExternalLink(i)" >
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>
      </div>

      <button mat-button (click)="addExternalLink()" type="button">
        Add external link
      </button>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button class="mat-primary" type="submit" cdkFocusInitial>Edit</button>
  </div>
</form>