app-media-item {
  // width: 200px;
  height: 100%;
  max-width: 50%;
  display: block;
  text-align: center;
}

mat-form-field {
  display: block;
}

.content {
  display: flex;
  flex-direction: row;
}

.fields {
  margin-left: 32px; 
}
