app-media-item {
  // width: 200px;
  height: 100%;
  max-width: 50%;
  display: block;
  text-align: center;
}

mat-form-field {
  display: block;
}

.external-link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 32px !important;
  mat-form-field {
    display: inline;
  }
}

.content {
  display: flex;
  flex-direction: row;
}

.fields {
  margin-left: 32px; 
}
