<main>
  <h1>App Support</h1>
  <p><b>How do I find new experiences?</b><br />
    You can find new experiences by tapping the menu at the top left of the screen and selecting &quot;Find more&quot;. This will
    show you a list of featured experiences. If you have an experience QR code, you may also scan it here to find and
    download the experience.
  </p>
  <p><b>How do I switch between experiences?</b><br />
    You can change your currently active experience by selecting it from the menu or by pressing &quot;Play&quot; in the manage
    experiences screen.
  </p>
  <p><b>How can I remove an experience from my device?</b><br />
    You can tap &quot;Remove&quot; on an experience on the manage experiences screen.
  </p>
  <p><b>How do I download an experience to my device?</b><br />
    You can do this from the manage experiences screen, or by pressing &quot;Download&quot; while finding a new experience.
  </p>
  <p><b>How does downloading an experience work?</b><br />
    This will store all experience data locally on your device, meaning you will not use mobile data while exploring an
    experience. Please note that map tiles may not be stored locally and may still be downloaded over cellular,
    depending on your operating system.
  </p>
  <p><b>Can I use the app without enabling location permissions?</b><br />
    Yes! You can explore the map and select places to view their content without enabling any location permissions,
    however you will not receive push notifications when you are near a place.
  </p>
  <p><b>Why does the app ask for location permissions?</b><br />
    The app asks for location permissions so that we can show your location and distance to places on the map, and to
    send you a push notification when you are approaching a place. This is optional and you can browse the app without.
  </p>
  <p><b>Why does the app ask for push notification permissions?</b><br />
    The app asks for push notification permissions to notify you when your are approaching a place. This is optional and
    you can browse the app without.
  </p>
  <p><b>What languages do you support?</b><br />
    The app is currently available in English and Welsh. Note that experience content may only be available in one
    specific language, depending on the experience.
  </p>
  <p><b>How do I change the language?</b><br />
    You can select your preferred language by pressing the menu at the top left of the screen and selecting &quot;Language&quot;.
  </p>
  <p><b>How do I opt in/out of error reporting?</b><br />
    You can do this from the privacy screen.
  </p>
  <p>
    Lancaster University is the designated project data processor and
    controller. Deborah Sutton is the nominated contact; email her on
    <a href="mailto:d.sutton@lancaster.ac.uk">d.sutton@lancaster.ac.uk</a>.
  </p>
</main>