<h1 mat-dialog-title>Translate Experience</h1>
<p>Some text explaining</p>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <table mat-table matSort [dataSource]="data">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{column}}</th>
        
        <ng-container *ngIf="column === baseLocale || column === 'id'; else input">
          <td mat-cell *matCellDef="let row">
            {{ row[column] }}
          </td>  
        </ng-container>
        <ng-container #input>
          <td mat-cell *matCellDef="let row">
            <mat-form-field>
              <input [formControlName]="row.id" matInput placeholder="">
            </mat-form-field>
          </td>  
        </ng-container>
      </ng-container>
      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let exp">
          <button
            mat-button
            (click)="featureExperience(exp, !exp.metaData.featured)"
          >
            {{ exp.metaData.featured ? "Un-feature" : "Feature" }}
          </button>
           <button mat-button (click)="close()" [routerLink]="['/poi/edit/' + element.id]">Edit</button> --> -->
          <!-- <button mat-button (click)="deletePoi(element.id)">Delete</button> -->
        <!-- </td> -->
      <!-- </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>


    <!-- <mat-form-field>
      <input formControlName="name" matInput placeholder="Name your new experience">
    </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button enabled class="mat-primary" [disabled]="!form.valid" type="submit">Save</button>
  </div>
</form>