<h1 mat-dialog-title>Create an Experience</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Name your experience">
    </mat-form-field>
    <mat-form-field class="desc">
      <mat-placeholder style="white-space: normal;">Description
      </mat-placeholder>
      <textarea matInput formControlName="description" rows="4"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="projects">
      <mat-select formControlName="project" placeholder="Choose a project (optional)">
        <mat-option [value]="project" *ngFor="let project of projects">{{project.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button enabled class="mat-primary" [disabled]="!form.valid" type="submit">Create</button>
  </div>
</form>