<h1 mat-dialog-title>Terms & Privacy</h1>
<div mat-dialog-content>
  <article class="page show">
    <p>
      <span style="text-decoration: underline"
        ><b>Authoring tool data protection notice</b>&nbsp;</span
      >
    </p>
    <p><em>A: Logging in&nbsp;</em></p>
    <ul>
      <li>
        <span data-contrast="auto"
          >You can log in with your Google or Facebook account. Google or
          Facebook may store some of your data, including personal data and data
          about your use of this app. See Google’s full privacy policy </span
        ><a href="https://policies.google.com/"
          ><span data-contrast="none">here</span></a
        ><span data-contrast="auto">, and Facebook’s policy </span
        ><a href="https://www.facebook.com/about/privacy/"
          ><span data-contrast="none">here</span></a
        ><span data-contrast="auto"
          >. University College Cork and University of Lancaster are not
          responsible for data collection by these third parties</span
        ><span data-contrast="auto">.</span
        ><span data-ccp-props='{"201341983":0,"335559739":160,"335559740":259}'
          >&nbsp;</span
        >
      </li>
    </ul>
    <p><em>B: Submitting experiences&nbsp;</em></p>
    <ul>
      <li>
        <span data-contrast="none"
          >By creating an ‘experience’, you are submitting your material for use
          on the Ports, Past and Present app.</span
        ><span>&nbsp;<br /></span
        ><span data-contrast="none"
          >The app serves to educate and inform tourists and communities on the
          cultural heritage of ports in Ireland and Wales.</span
        ><span> </span>
      </li>
      <li>
        <span data-contrast="none"
          >Your material could be used in project publicity and research as well
          as on the app. It may also be re-used by third parties under the </span
        ><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
          ><span data-contrast="none"
            >Creative Commons Attribution-NonCommercial-NoDerivatives 4.0
            International</span
          ></a
        ><span data-contrast="none">
          (CC BY-NC-ND 4.0) License. If you wish to opt for a more open license,
          such as the Creative Commons Attribution 4.0 International (CC BY 4.0)
          License, please contact us.</span
        ><span> </span>
      </li>
      <li>
        <span data-contrast="none"
          >If your story contains personal information about yourself or others
          please ensure you have full permission to publish it here. Please
          ensure that others referenced are aware that the story may be reused
          by third parties. If you are unsure about this, please contact
          us.</span
        ><span> </span>
      </li>
      <li>
        <span data-contrast="none"
          >After submission, you retain the right to access, amend or withdraw
          your experience material. Should you wish to do so, please email us.
          Please note that we will be unable to withdraw your material from
          published project research or publicity, or from third-party
          uses.</span
        ><span> </span>
      </li>
      <li>
        <span data-contrast="none"
          >If you have any other questions or concerns about your experience,
          our app or the project, please email us.</span
        ><span data-ccp-props='{"201341983":0,"335559739":160,"335559740":259}'
          >&nbsp;</span
        >
      </li>
    </ul>
    <p>
      <span data-contrast="none"
        >University College Cork (UCC) is the designated project data
        controller. Aoife Dowling is the nominated contact; email her at </span
      ><a href="mailto:aoife.dowling@ucc.ie"
        ><span data-contrast="none">aoife.dowling@ucc.ie</span></a
      ><span data-contrast="none"
        >. Lancaster University is the designated project data processor, and
        the authoring tool is hosted in the UK on a university server. Deborah
        Sutton is the nominated contact; email her on </span
      ><a href="mailto:d.sutton@lancaster.ac.uk"
        ><span data-contrast="none">d.sutton@lancaster.ac.uk</span></a
      ><span data-contrast="none">.</span
      ><span data-ccp-props='{"201341983":0,"335559739":160,"335559740":259}'
        >&nbsp;</span
      >
    </p>
    <p></p>
  </article>
</div>
<div mat-dialog-actions>
  <button mat-button enabled (click)="close()">OK</button>
</div>
