<h1 mat-dialog-title>Terms & Conditions</h1>
<div mat-dialog-content>
  <p>Lorem ipsum dolor sit amet, ocurreret reprimique per at. Ad enim legimus qui, odio tota voluptatibus mea an. Ea
    utinam fabellas pri, iusto volumus nominavi sit ei, his illud diceret ne. Te duo quem facilisis, usu erat vidisse
    omittantur eu, has no decore vivendum. Noluisse sententiae voluptatum ad sed, sint quot neglegentur ut mea, amet
    ceteros ex nec. Nam facer consul molestie at.

    Ne habeo nulla eleifend nam. Eam ea nostro phaedrum, et blandit mnesarchum moderatius pri. Deserunt adipisci per id.
    Similique scripserit eam et. No ius nostro euripidis delicatissimi.

    Omnium deterruisset vel an. Ne mei utinam saperet sapientem. No vidit oporteat elaboraret per, sea ceteros laboramus
    ut, an pro epicuri legendos. Te eum prompta feugiat sanctus. Utinam laudem pro et.

    Est nulla errem ex, quo causae doctus cu. Sit id senserit scripserit. Id mea modus ullamcorper, quot erat te cum,
    vel ea falli error. No mei partem quaeque, te sea soluta altera.

    Ex pro tempor mandamus mediocritatem, has sensibus democritum ex. Noster sadipscing cum ei. Ut eos case dicta error,
    ad sed nostrud principes. Dicit mundi no vix. Ea sit eirmod philosophia suscipiantur, eum ne accumsan adipisci. Quo
    semper doctus probatus ei.

    Timeam torquatos mel ea, dictas mollis mel ne, id aliquip vituperatoribus vel. Vix agam aperiam percipitur ut,
    dolore necessitatibus at est, paulo fuisset cu sed. Blandit atomorum recteque nec cu, et dico consul viderer sed.
    Cum et option periculis accusamus, detraxit gloriatur deterruisset at has. Nec ea porro oblique consetetur.

    Ea sea dicunt commodo assueverit, quando noster fabulas at usu. Saperet sententiae eu pri, soleat audiam mandamus
    mea cu. Mel soleat adversarium dissentiunt ut, ius cetero mediocrem cu. Eu wisi tota forensibus eum. Possim utamur
    diceret ex eum.

    No legendos adipisci per. Vis latine concludaturque et. Id placerat lobortis est, in est libris timeam. At pri stet
    fabulas luptatum, voluptaria elaboraret conclusionemque an sea.

    Pro ipsum inani nulla ex. Ut nec nibh detracto assentior, duo ne ridens facilisi. Ne mel meis eligendi, vis at
    delicata molestiae theophrastus, mea eruditi neglegentur ex. Cu tacimates deseruisse definiebas est, vis dicit
    appareat et. Aeterno imperdiet definiebas has no.

    Mei habeo munere omnium ei, sed te tamquam invidunt incorrupte, zril necessitatibus ea quo. Nullam invidunt pro ad,
    facilis ceteros voluptatum est ei. Nec eu magna brute molestiae, eum utinam deterruisset ea, vis affert nominati ad.
    Reque iuvaret definitionem ea eos, populo posidonium no est.</p>
</div>
<div mat-dialog-actions>
  <button mat-button enabled (click)="close()">OK</button>
</div>