.content {
  padding: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .create-button {
    display: block;
  }
}

mcc-color-picker {
  display: block;
}

mat-divider {
  margin-bottom: 16px;
}

mat-select-trigger {
  display: flex;
  flex-direction: row;
  p {
    display: inline;
    display: table-cell;
    vertical-align: middle;
    margin: auto 0;
  }
}

.button-container {
  width: -webkit-fit-content;
}
