<h1 mat-dialog-title>Publish Experience</h1>
<div mat-dialog-content>

  <ng-container *ngIf="!latestSnapshot; else publishTemplate">
    <div mat-dialog-content>
      <p>Publishing your experience will make it publicly visible. Users will be able to download a playable experience
        to
        their Android devices using a QR code or link.</p>
    </div>
  </ng-container>
  <ng-template #publishTemplate>
    <div mat-dialog-content>
      <p>Users can download this experience by visting <a [attr.href]="publishedUrl">{{publishedUrl}}</a> or scanning
        this
        QR code on their device: </p>
      <qrcode [qrdata]="publishedUrl" [size]="256" [level]="'M'"></qrcode>

      <p>Version <b>{{latestSnapshot.metaData.version}}</b> published
        <b>{{latestSnapshot.metaData.created_at | date: 'short'}}</b></p>
      <small>Changes are not automatically published. When you are happy with your changes click to publish.</small>
    </div>
  </ng-template>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- [disabled]="!outstandingChanges" -->
  <button mat-button (click)="publish()" cdkFocusInitial>{{!latestSnapshot ? 'Publish' : 'Publish Changes'}}</button>
</div>